    <header>
        <h1>ish1</h1>
        <h3>ish3</h3>
        <h4>ish4</h4>
    </header>  

    <div class="allquestions">
            <h4>ish4-allqtns</h4>
            <h4>ish4-allqtns</h4>      
        <!-- question 1 -->
        <div class="question hidden-question cf" id="fill-in">
            <div class="innerquestion cf">
                <h2 class="question-text"></h2>
                <textarea class="fill-in" id="q01_ans">
                    
                </textarea>

                <!-- feedback -->
                <div class="feedback no-answer">
                    <p></p>
                </div>
                <div class="feedback correct">
                    
                </div>
                <div class="feedback incorrect">
                    
                </div>
            </div> <!-- endof innerquestion -->
            <!-- submit -->
            <button class="fill-in-submit btn-primary">
                    
            </button>    
        </div><!-- endof question 1 -->

        <!-- question 2 -->
        <div class="question hidden-question cf" id="multi-choice">
            <div class="innerquestion cf">
                <h2 class="question-text"></h2>
                <!-- option 1 -->
                <input type="radio" name="q4" id="q4_1"/>
                <label for="q4_1" id="q4_1_label">
                    
                </label>
                <!-- Option 2 -->
                <input type="radio" name="q4" id="q4_2"/>
                <label for="q4_2" id="q4_2_label">
                    
                </label> 
                <!-- Option 3 -->
                <input type="radio" name="q4" id="q4_3"/>
                <label for="q4_3" id="q4_3_label">
                    
                </label>
                <!-- Option 3 -->
                <input type="radio" name="q4" id="q4_4"/>
                <label for="q4_4" id="q4_4_label">
                    
                </label>

                <!-- feedback -->
                <div class="feedback no-answer">
                    
                </div>
                <div class="feedback correct">
                    
                </div>
                <div class="feedback incorrect">
                    
                </div>
            </div> <!-- endof innerquestion -->  

            <!-- submit -->
            <button class="fill-in-submit btn-primary">
                    
            </button>      
        </div><!-- endof question 2 -->

        <!-- question navigation -->
        <div class="qNav cf">
            <div class="navigation btn-prev">
                <!-- left arrow -->
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
            <div id="qtnNumber">{qtnNumber}</div>
            <div class="navigation btn-next">
                <!-- right arrow -->
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div><!-- endof q-navigation -->

    </div><!-- endof allquestions -->


