@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100italic|Roboto+Mono:400,100italic,700);

.qpage {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width:100%;
    margin:0 auto;;
    box-sizing:border-box;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 16px;

}

.mainContent {
    flex: 1;
    width: 100%;
    max-width: 980px;
    margin:0 auto;
    padding-bottom:1em;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    margin-bottom: 2em;
    max-width: 80%;
    margin: 0 auto;
}

header h1, header h2, header h3, header h4 {
    font-weight: 200;
}

header h3 {
    margin:0 0 .25em 0;
}

header h4 {
    margin:0;
}

.allquestions {
    min-height: 640px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 1px 0px #001b21;
    margin: 2em auto 0;
    width: 80%;
   
}

.allquestions h4 {
    background-color: #00796B;
    margin: 0;
    padding: .5em 0 .5em .75em;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: .5px;
}

.allquestions h4:nth-child(2) {
    padding-top: .5em;
    border-top: 1px solid #efefef;
}

.cf:after {
    content: "";
    display: table;
    clear: both
}

#logo {
    text-align: center;
    padding-bottom: 1%;
}

#logo img {
    width: 150px;
    position: absolute;
    right: 50px;
}

.question {
    margin: auto;
    width: 90%;
    position: relative;
    height: 450px;
}

.innerquestion {
    min-height: 200px;
   
}

h2.question-text {
    color: #024656;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 100;
    font-style: italic;
    margin: 2em 0 .5em 0;
    font-size: 1.25em;
}

textarea.fill-in {
    width: 85%;
    min-height: 15vh;
    background: #ffffff;
    border: none;
    border-radius: 0;
    resize: none;
    border: 1px solid #919897;
    overflow: auto;
    outline: none;
    color: #333;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 100;
    font-size: 1.15em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
}

textarea.fill-in:active,
textarea.fill-in:focus {
    outline: none;
    border: 1px solid #24786a;
}

button.fill-in-submit {
    display: inline-block;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: 10;
    padding: 1.5em 3em;
    border-radius: 4px;
    letter-spacing: .5px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    font-size: 1em;
    padding: 1.5em 3em;
    border-radius: 2.5px;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: button;
    font-weight: 200;
    background: linear-gradient(to bottom right, #FF9800, #FF9800 50%);
    color: #fff;
    line-height: 0;
    border: 1px solid #f68325;
    outline: none;

    text-transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.feedback {
    opacity: 0;
    display: inline-block;
    position: absolute;
    right: 15%;
    top:43%;
    font-size: 1.2em;
    font-family: 'Roboto',arial, sans-serif;
    -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
}

.feedback.no-answer {
    color: #2c7bd2;
}

.feedback.no-answer span {
    font-size: 3em;
    color:#2c7bd2;
}

.feedback.no-answer p {
    color:#333;
}

.feedback.correct span {
    padding-left: 20px;
    color: green;
    font-size: 3em;
}

.feedback.incorrect {
    padding-top:4.5em;
}

.feedback.incorrect p {
    margin-left: 3em;
    display: inline-flex;
    line-height: 1.5;
}

.feedback.incorrect span {
    margin-left: -.98em;
    color: red;
    font-size: 3em;
    display: inline-block;
    margin-top: -15px;
    margin-right: 20px;
}

.feedback p {
    height: 3.2em;
    display: table-cell;
}

.feedback p span {
    vertical-align: middle;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.hidden-question {
    display: none;
}

.remove {
    display: none !important;
}

[type="radio"]:not(:checked), 
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

input[type=radio] {
    display: inline;
}

[type="radio"]:not(:checked) + label::after,
[type="radio"]:checked + label::after {
    background: #E42A54;
    position: absolute;
    top: 50%;
    left: 11px;
    width: 22px;
    height: 22px;
    border: 1px solid #F0F2F2;
    margin-top: -11px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 42px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    width: 35%;
    margin:0 .5em .5em 0;
    background: #ffcd82;
    font-weight: 200;
    font-size: 1.10em;
    border: 1px solid #f5bc52;
    border-radius: 4px;
    
}

[type="radio"]:not(:checked) + label::before, 
[type="radio"]:checked + label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    background: #f8f8f8;
    border-radius: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

[type="radio"]:not(:checked) + label::before, 
[type="radio"]:checked + label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    background: #f8f8f8;
    border-radius: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

label{
    display: block;
    width: 100%;
    background: #F0F2F2;
    padding: .75em;
    margin: .25em 0;
    margin-top: 0;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.75rem;
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 600;
}

.gobelow {
    display: block !important;
}

#qtnNumber {
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 62px;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 1.25em;
    border: 1px solid #0f2519;
    box-shadow: 0px 0px 0px 1px black;
}

[type="radio"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(1.2);
    box-sizing: border-box;
}

[type="radio"]:not(:checked) + label::after, 
[type="radio"]:checked + label::after {
    content: ' ';
    background: #333;
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    line-height: 0.8;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: -7px;
    box-sizing: border-box;
}

[type="radio"]:checked + label::after {
    opacity: 1;
    transform: scale(1);
    box-sizing: border-box;
}

[type="radio"]:not(:checked) + label::after, 
[type="radio"]:checked + label::after {
    content: ' ';
    background: #333;
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    line-height: 0.8;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: -7px;
    box-sizing: border-box;
}

.navigation.btn-next,
.navigation.btn-prev {
    position: absolute;
    /*background: #FFF;
    background: rgba(0, 0, 0, .5);*/
    color: rgba(0, 0, 0, .5);
    border: none;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    width: 44px;
    height: 44px;
    bottom: 10px;
    right: 40px;
    top: auto;
    left: auto;
    cursor: pointer;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;*/
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -webkit-transition: background 200ms ease-in-out, opacity 200ms ease-in-out, color 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out, opacity 200ms ease-in-out, color 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out, opacity 200ms ease-in-out, color 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out, opacity 200ms ease-in-out, color 200ms ease-in-out;
    transition: background 200ms ease-in-out, opacity 200ms ease-in-out, color 200ms ease-in-out;
}


.qNav {
    width:100%;
    margin:0 auto;
    position: relative;
    text-align: center;
    height: 80px;
}

.qNav h3 {
    vertical-align: bottom;
    line-height: 100px;
}

.navigation.btn-next {
    right:5%;
    top:5%;
    cursor: pointer;
    background: #24786a;
    color: white;
    padding: .25em .25em;
    border-radius: 10px;
}

.navigation.btn-prev {
    left: 5%;
    top: 5%;
    cursor: pointer;
    background: #24786a;
    color: white;
    padding: .25em .25em;
    border-radius: 10px;
}

footer {
    border-top: 1px solid #212525;
    background: #0a483e;
    width: 100%;
}

.footertop {
    max-width: 980px;
    margin:0 auto;
}

.footertop ul {
    list-style: none;
    padding:0;
    width: 80%;
    margin:0 auto;
    overflow: hidden;
}

.footertop li {
    display: inline-block;
    margin-left: 20px;
    float:left;
}

.footertop li a {
    text-decoration: none;
    color: #e5e5e5;
    margin: 15px 0;
    display: inline-block;
    font-weight: 200;
}

.copyreg {
   float: right !important;
   margin-right: 20px;
}


